body {
    font-family: Arial;
    margin: 0;
    background: linear-gradient(135deg, #f8d7da, #f5e6ea);
}

/* NASLOV */
.hero {
    text-align: center;
    padding: 80px 20px;
    color: #b76e79;
}

/* MENU */
.menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

/* KARTICE */
.card {
    width: 180px;
    height: 120px;
    background: #fff0f3;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* SEKCIJE */
.page {
    text-align: center;
    padding: 40px;
}

/* SLIKE */
.content img {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
}

/* BOX */
.box {
    background: white;
    margin: 10px auto;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
}

/* HIDE */
.hidden {
    display: none;
}
body {
    font-family: Arial;
    margin: 0;
    background: linear-gradient(135deg, #f8d7da, #f5e6ea);
}